body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-size: 400% 400%;
    background: #1d1d1d;
    animation: mymove 10s linear infinite;
}

::-webkit-scrollbar {
    display: none;
}

@keyframes mymove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.scroller {
    background-color: #727272;
    color: white;
}

@media screen and (min-width:767px) {
    footer {
        margin-top: 10vh;
    }
    .left {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 2vw;
        bottom: 40%;
        width: 4vw;
    }
    .icon {
        width: 3.5vw;
        margin: 1vh 0vw;
        border-radius: 100%;
        box-shadow: 3px 3px 5px rgba(2, 155, 119, 0.5);
    }
    .icon:hover {
        box-shadow: 3px 3px 15px rgba(7, 170, 132, 0.5);
    }
    h1,
    h2,
    p {
        text-align: center;
        color: white;
    }
    h1 {
        font-size: 3.5vw;
        font-family: 'Expletus Sans', cursive;
        margin-bottom: 0.2vh;
        color: white;
    }
    h2 {
        font-size: 2vw;
        margin-top: 0vh;
        margin-bottom: 0vh;
        color: white;
    }
    .description {
        line-height: 1.55;
        font-size: 1.5vw;
        color: white;
    }
    h2,
    .description {
        font-family: 'Hind Guntur', sans-serif;
        color: white;
    }
    .description {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        color: white;
    }
    .buttons {
        display: flex;
        margin-left: 40%;
        margin-top: 1vh;
    }
    .buttons:focus {
        outline: none;
    }
    .button1,
    .button2 {
        font-weight: 700;
        margin-right: 1.5vw;
        padding: 7px;
        font-size: 1.6vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        color: rgb(255, 255, 255);
        margin-top: 2vh;
        background-color: #1DB954;
        border: none;
        border-radius: 15px;
        box-shadow: 3px 3px 20px rgba(98, 165, 113, 0.4);
    }
    .button1:hover,
    .button2:hover {
        box-shadow: 3px 3px 25px rgba(98, 165, 113, 0.4);
    }
    .button1:active,
    .button2:active {
        transform: translateY(4px);
    }
    .scroller {
        width: 60%;
        margin: auto;
        margin-top: 10vh;
        color: white;
        display: none;
        border-radius: 1vw;
        box-shadow: -0.5vh 0.4vw #1DB954;
    }
    .lyrics {
        font-size: 1.4vw;
        font-family: 'Hind', sans-serif;
        margin-right: 20%;
        color: white;
        padding: 4vh 1.5vw;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 767px) {
    footer {
        margin-top: 10vh;
    }
    .left {
        display: flex;
        margin-bottom: 1%;
        margin-left: 33.5%;
        width: 4vw;
    }
    .icon {
        width: 8vw;
        margin-left: 2vw;
        border-radius: 100%;
        box-shadow: 3px 3px 10px rgba(98, 165, 113, 0.4)
    }
    .icon:hover {
        box-shadow: 3px 3px 30px rgba(98, 165, 113, 0.4)
    }
    h1,
    h2,
    p {
        text-align: center;
        color: white;
    }
    h1 {
        margin-top: 4vh;
        font-size: 10vw;
        font-family: 'Expletus Sans', cursive;
        margin-bottom: 0.2vh;
        color: white;
    }
    h2 {
        font-size: 6vw;
        margin-top: 0vh;
        margin-bottom: -1vh;
        color: white;
    }
    .description {
        font-size: 3.7vw;
        color: white;
    }
    h2,
    .description {
        line-height: 1.7;
        font-family: 'Hind Guntur', sans-serif;
        color: white;
    }
    .description {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        color: white;
    }
    .buttons {
        display: flex;
        margin-left: 20%;
        width: 60%;
        color: white;
    }
    .button1,
    .button2 {
        font-weight: 800;
        margin-right: 5%;
        margin-left: 5%;
        padding: 6px;
        font-size: 4vw;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        color: rgb(255, 255, 255);
        margin-top: 2vh;
        background-color: #1DB954;
        border: none;
        border-radius: 5vw;
        box-shadow: 3px 3px 10px rgba(98, 165, 113, 0.4)
    }
    .button1:hover,
    .button2:hover {
        box-shadow: 3px 3px 25px rgba(98, 165, 113, 0.4);
    }
    .button1:active,
    .button2:active {
        transform: translateY(4px);
    }
    .container .right {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
    .scroller {
        width: 80%;
        margin: auto;
        margin-top: 5vh;
        color: white;
        display: none;
        border-radius: 3vw;
        box-shadow: -0.5vh 0.5vw rgba(6, 102, 27, 0.4)
    }
    .lyrics {
        line-height: 1.4;
        font-size: 4vw;
        color: white;
        font-family: 'Hind', sans-serif;
        padding: 2vh 3vw;
        overflow-x: auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
}