.bg {
    /* The image used */
    background-image: url("images/covernew.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    }

footer{
    margin-top: 10vh;
}

.left{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 2vw;
    bottom: 40%;
    width: 4vw;
}
.icon{
    width:3vw;
    margin: 1vh 0vw;
    border-radius: 100%;
    border: 5px solid rgb(255, 0, 200);
}

.icon:hover{
    box-shadow: -0.2vh 0.2vw rgba(90, 4, 71, 0.8);
}

h1,h2,p{
    text-align: center;
    
}

h1{
    font-size: 3.5vw;
    font-family: 'Expletus Sans', cursive;
    margin-bottom: 0.2vh;
}

h2{
    font-size: 2vw;
    margin-top: 0vh;
    margin-bottom: 0vh;
}
.description{
    font-size: 1.5vw;
}

h2,.description{
    font-family: 'Hind Guntur', sans-serif;
}

.description{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.buttons{
    display: flex;
    margin-left: 40%;
    margin-top: 1vh;
}


.button1,.button2{
    font-weight: 700;
    margin-right: 1.5vw;
    padding: 3px 8px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: 2vh;
    background-color: #ec1010;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(179, 102, 102);
}



.middle .button1:hover {
    background-color: #ec1010;
}

.middle .button2:hover {
    background-color: #ec1010;
}

.middle .button1:active {
    background-color: #ec1010;
    box-shadow: 0 5px rgb(153, 67, 67);
    transform: translateY(4px);
}

.middle .button2:active {
    background-color: #ec1010;
    box-shadow: 0 5px rgb(153, 67, 67);
    transform: translateY(4px);
}


.container .right {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.scroller {
    width: 60%;
    margin: auto;
    margin-top: 10vh;
    background-color: rgba(235, 163, 219, 0.8);
    display: none;
    border-radius: 1vw;
}


.lyrics{
    font-size: 1.4vw;
    font-family: 'Hind', sans-serif;
    margin-right:20%;
    padding: 4vh 1.5vw;
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


