.bg {
    /* The image used */
    background-image: url("images/covernew.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    }

.right{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2vw;
    bottom: 40%;
    width: 10%;
}

.left{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 2vw;
    bottom: 40%;
    width: 10%;
}
.icon{
    width:3vw;
    margin: 1vh 0vw;
}

h1,h2,p{
    text-align: center;
}

.description,.lyrics{
    width: 50%;
    margin-left: 25%;
}

.lyrics{
    margin-right:25%;
}
.button1{
    margin-left: 40%;
}
.button2{
    margin-left: 50%;
}

.middle .button1 {
    display: flex;
    padding: 8px 8px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #ec1010;
    margin-right: 150px;
    margin-top: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(179, 102, 102);
}

.middle .button2 {
    display: flex;
    padding: 3px 8px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    margin-top: -35px;
    background-color: #ec1010;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(179, 102, 102);
}



.middle .button1:hover {
    background-color: #ec1010;
}

.middle .button2:hover {
    background-color: #ec1010;
}

.middle .button1:active {
    background-color: #ec1010;
    box-shadow: 0 5px rgb(153, 67, 67);
    transform: translateY(4px);
}

.middle .button2:active {
    background-color: #ec1010;
    box-shadow: 0 5px rgb(153, 67, 67);
    transform: translateY(4px);
}

.container .right {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}


.scroller {
    width: 100%;
    height: 150px;
    margin: auto;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}

.scroller::-webkit-scrollbar-track {
    border: 1px;
    border-radius: 10px;
}

.scroller::-webkit-scrollbar-thumb {
    background: rgb(83, 171, 243);
    border-radius: 10px;
}

.scroller::-webkit-scrollbar-thumb:hover {
    background: #106083;
}

.scroller::-webkit-scrollbar {
    width: 10px;
}